* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.main-container {
    background-color: #e0e2e4;
    box-sizing: border-box;
}

.blank-nav-inner {
    height: 5rem;
    width: 100%;
    box-sizing: border-box;
}

.content-inner {
    display: flex;
    box-sizing: border-box;
}

.content-left {
    background-color: white;
    width: 12%;
    box-sizing: border-box;
}

.side-nav-link-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
}

.side-nav-link-container>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 0.2px solid rgb(58, 58, 58);
    text-align: center;
    word-wrap: break-word;
}
.side-nav-link-container a{
    text-decoration: none;
    color: black;
}
.side-nav-link-container a:hover{
    font-size: 20px;
    transition: font-size .2s ease;
    color: orange;
}

.side-nav-link-container>div:hover {
    cursor: pointer;
}

.side-nav-link-container>div:first-of-type {
    height: 4rem;
}
.blocks-inner-container {
    padding-bottom: 1rem;
}
.side-nav-link-container>div:not(:first-of-type) {
    height: 6rem;
}

.side-nav-link-container>div:first-of-type {
    background-color: #008ac9;
}

.content-right {
    width: 88%;
    box-sizing: border-box;
}

/* navbar :: Seach  */
.navbar-container {
    background-color: #1caaec;
    display: flex;
    height: 4rem;
    width: 100%;
    box-sizing: border-box;
}

.navbar-container>div {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.navbar-container>div:last-of-type {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.navbar-container>div>div:first-of-type {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.navbar-container input,
.navbar-container select {
    height: 1.5rem;
    width: 70%;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
}

.navbar-container select {
    background-color: white;
}

.navbar-container label {
    font-size: 16px;
    color: white;
    font-weight: 500;
    width: 70%;
    margin-bottom: 3px;
}

.navbar-container .search-btn {
    height: 100%;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008ac9;
}

.navbar-container .search-btn:hover {
    cursor: pointer;
}

.navbar-container .search-btn>i {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

/* Banner */

.banner-inner-container {
    display: flex;
    gap: 10px;
    padding: 1rem;
}

.banner-left {
    width: 30%;
}

.banner-video {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.banner-video video {
    height: 100%;
    width: 100%;
}

/* Slider */
.banner-right {
    width: 70%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;

}

.banner-slider-container {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

.banner-slider {
    width: 100%;
}

/* blocks */
.blocks-main-container {
    height: 100%;
    width: 100%;
}

.blocks-inner-container {}

.blocks-container {
    display: flex;
}

.blocks-container:not(:first-of-type) {
    margin-top: 1rem;
}

.blocks-container>div {
    padding: 0 0.5rem;

}

.blocks-container:first-of-type>div:nth-of-type(1) {
    width: 65%;
}

.blocks-container:first-of-type>div:nth-of-type(2) {
    width: 35%;
}

.blocks-container:last-of-type>div:nth-of-type(1) {
    width: 40%;
}

.blocks-container:last-of-type>div:nth-of-type(2) {
    width: 30%;
}

.blocks-container:last-of-type>div:nth-of-type(3) {
    width: 30%;
}

.block {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}

.block-main-heading {
    font-weight: 600;
    line-height: 22px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid #003a6e;
}

.bottom-link {
    color: #003a6e;
    font-weight: 600;
    bottom: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px;
    text-align: right;
    width: 100%;
    padding-right: 15px;
    box-sizing: border-box;
}

.block-heading {
    border-bottom: 1px solid gray;
    display: flex;
}

.block-heading>div {
    margin: 8px 0;
    text-align: center;
}

.content {
    box-sizing: border-box;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    height: 17rem;
    margin-top: 10px;
}

.content i {
    color: rgb(146, 145, 145);
    margin-right: 10px;
}

.content li {
    display: flex;
    align-items: center;
}

.content li {
    padding: 7px 0;
}

.content li:not(:last-of-type) {
    border-bottom: 1px solid rgb(182, 182, 182);
}

.content li:first-of-type {
    padding-top: 0 !important;
}

footer {
    height: 10rem;
    width: 100%;
    background-color: rgb(34, 34, 34);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:756px) {
    .banner-inner-container {
        flex-direction: column;
    }

    .banner-left,
    .banner-right {
        width: 100%;
    }

    .blocks-main-container {
        padding: 0;
    }

    .content-left {
        width: 18%;
    }

    .content-right {
        width: 82%;
    }

    .blocks-container {
        flex-direction: column;
    }

    .blocks-container>div {
        width: 100% !important;
        padding: 1rem;
    }

    .blocks-container:not(:first-of-type) {
        margin-top: 0;
    }

    .message-block>div {
        flex-direction: column;
    }

    .message-left,
    .message-right {
        width: 100% !important;
    }

    .banner-slider .slick-dots {
        bottom: -30px !important;
    }
}

@media (max-width:804px) {
    .navbar-container label {
        width: 93%;
    }

    .navbar-container input,
    .navbar-container select {
        width: 93%;
    }

    .navbar-container {
        flex-wrap: wrap;
        height: fit-content;
        padding: 10px 0;
        gap: 10px;
    }

    .navbar-container>div {
        flex: 0 0 49%;
    }

    .side-nav-link-container>div:first-of-type {
        background-color: #008ac9;
        height: 7.5rem;
    }
}

@media (max-width:608px) {
    .navbar-container>div {
        flex: 0 0 47%;
    }
}

@media (max-width:556px) {
    .side-nav-link-container>div {
        font-size: 14px;
    }
}

.quick-links-main {
    width: 4rem;
    right: 0;
    position: fixed;
    top: 35%;
}

.quick-links-main div {
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1caaec;
}

.quick-links-main div>img {
    height: 2.5rem;
    width: 2.5rem;
}




/* Message */
.message-block {}

.message-block>div {
    display: flex;
}

.message-left {
    height: 100%;
    width: 70%;
}

.messager-heading {
    font-weight: 600;
}

.message-profile {
    width: 100%;
    display: flex;
}

.message-profile .prof-left {
    width: fit-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-profile .prof-left>img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.message-profile .prof-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 2rem;
}

.prof-right .p-name {
    font-weight: 600;
    font-style: italic;
}

.prof-right .p-desg {
    font-size: 14px;
}

.message-right {
    width: 30%;
    height: 100%;
}

.message-right .img-container {
    height: 100%;
    width: 100%;
}

.message-right .img-container>img {
    height: 16rem;
    width: 100%;
    border-radius: 10px;
}

.messege-text {
    padding: 10px;
}


@media (min-width:756px) {
    .banner-slider .slick-dots {
        right: 7%;
        width: fit-content;
        bottom: 0;
    }
}


.banner-slider .slick-dots li button:before {
    font-size: 8px;
}

.banner-right,
.banner-left {
    border-radius: 5px;
}